:root{
    --main-color: #44486c;
    --main-text-color: #d5e0e5;
    --secondary-color: #869DA8;
    --tertiary-color: #D9C6C6;
    --accent-color: #C5E5D0;
}

body{
    text-align: center;
    background-color: var(--main-color);
}

header{
    background-color: var(--main-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 2rem 10rem;
}

img{
    margin: 1rem;
}

a{
    color: var(--main-text-color);
}

a:hover{
    color: var(--main-text-color);
    cursor: pointer;
}

.App-body{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    width: 80%;
    margin: auto;
    padding: 3rem;
    border-radius: 20px;
    position: relative;
}

.results{
    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*display: inline-block;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem;
    border-radius: 20px;
    vertical-align: top;
}

#carouselExampleIndicators{
    width: 100%;
}

.carousel-item.active{
    /*display: inline-block;*/
    display: flex;
    justify-content: center;
}

.collapse{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 400px;
    overflow-y: auto;
}

.song-tile{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: var(--tertiary-color);
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
}

/*#account-toggle{*/
/*    position: absolute;*/
/*    right: 1rem;*/
/*}*/

.navbar-item{
    margin: 1rem;
}

#manual-add{
    color: black;
    border: black solid 2px;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    margin: 2rem auto;
}

.flat-button{
    background-color: transparent;
    border: none;
}

.flat-button:focus{
    outline: none;
    background-color: transparent;
    border: none;
}

.styled-button{
    background-color: transparent;
    border: var(--accent-color) solid 1px;
    border-radius: 1rem;
}

.card{
    background-color: var(--main-color);
}

.card-header{
    color: var(--main-text-color);
    background-color: rgba(0,0,0,0.1);
}

.no-float{
    float: none;
}