{% extends "logged_in.html" %}

{% block content %}
<div id="manual-add">
    <a type="button" data-toggle="modal" data-target="#addSongModal">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
        </svg>
        Add a new song that reminds you of a time period in your life
    </a>
    <div class="modal fade" id="addSongModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSongModalLabel">Add a nostalgic song</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action={{url_for('add_song')}} method="post">
                        <p>Search for song on Spotify and indicate the time period it reminds you of.</p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Search a song..."
                                   aria-label="Search a song..." aria-describedby="button-addon2" id="song-search"
                                   onkeydown="return event.key != 'Enter';"><!--TODO: temporary fix-->
                            <input type="hidden" id="song-name" name="name"/>
                            <input type="hidden" id="song-artist" name="artist"/>
                            <input type="hidden" id="song-id" name="id"/>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                        onclick="onSearch()">Search
                                </button>
                            </div>
                        </div>
                        <div id="search-results"></div>
                        <div id="period-picker" style="display:none">
                            <div class="form-group row">
                                <div class="form-group col">
                                    <select class="custom-select mr-sm-2" name="season" id="season">
                                        <option selected disabled>Season...</option>
                                        <option value="Spring">Spring</option>
                                        <option value="Summer">Summer</option>
                                        <option value="Fall">Fall</option>
                                        <option value="Winter">Winter</option>
                                    </select>
                                </div>
                                <div class="form-group col">
                                    <select class="custom-select mr-sm-2" name="year" id="year">
                                        <option selected disabled>Year...</option>
                                        {% for yr in range(current_year, 1989, -1) %}
                                        <option value={{yr}}>{{yr}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group col">
                                    <label for="description">Description of the memory (optional)</label>
                                    <textarea class="form-control" id="description" name="desc" rows="2"></textarea>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Add song</button>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
{% for songs in resp %}
<div class="card">
    <p>{{songs[0][1]}}</p>
    <div id="accordion">
        {% for song in songs %}
            {% if loop.first or loop.previtem[0] != song[0] %}
            <div class="card">
                <div class="card-header" id="heading{{loop.index}}">
                    <a data-toggle="collapse" data-target="#collapse{{loop.index}}" aria-expanded="true"
                            aria-controls="collapse{{loop.index}}">
                        {{song[0]}}
                    </a>
                </div>

                <div id="collapse{{loop.index}}" class="collapse show" data-parent="#accordion">
            {% endif %}
            <div class="song-tile" id="saved-tile-{{song[4]}}">
                <p class="song-label"> {{song[2]}}</p>
                <p> by {{song[3]}}</p>
                <p> {{song[5]}}</p>
                <button type="button" class="close no-float" aria-label="Unsave song" onclick="onSave('{{song[4]}}')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if loop.last or song[0] != loop.nextitem[0] %}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}