{% extends "index.html" %}
{% block nav %}
<div class="row justify-content-between col">
    <div class="row align-items-center">
        <a class="navbar-item" href="/travel">Travel</a>
        <a class="navbar-item" href="/browse">Browse</a>
    </div>
    <a class="btn btn-light" id="account-toggle" href="{{url_for('logout')}}">Log Out</a>
</div>

{% endblock %}
{% block body %}
{% block content %}
{% endblock %}
{% endblock %}

{% block scripts %}
<script src="../static/js/script.js"></script>
{% endblock %}